body {
  background-color: #f4f6f8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.header {
  background-color: #1a237e;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  background-color: #00e676;
  color: #000;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
}

.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card.dark {
  background: #263238;
  color: #cfd8dc;
}

input {
  display: block;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #1a237e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #303f9f;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f5f5f5;
  margin-bottom: 5px;
  padding: 10px;
  border-left: 4px solid #1a237e;
}

.badge {
  float: right;
  background: #e8eaf6;
  color: #1a237e;
  padding: 2px 6px;
  font-size: 10px;
  border-radius: 4px;
}

.log-window {
  height: 300px;
  overflow-y: auto;
  font-family: monospace;
  font-size: 12px;
}

.log-entry {
  border-bottom: 1px solid #37474f;
  padding: 8px 0;
}

.type {
  color: #00e676;
  font-weight: bold;
}

.hash {
  color: #90a4ae;
  font-size: 10px;
}

.badge.PENDING_APPROVAL { background: #fff3e0; color: #ef6c00; padding: 2px 6px; border-radius: 4px; font-size: 10px; }
.badge.APPROVED { background: #e8f5e9; color: #2e7d32; padding: 2px 6px; border-radius: 4px; font-size: 10px; }

.btn-approve {
    background-color: #2e7d32;
    font-size: 11px;
    padding: 6px;
    margin-top: 10px;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btn-approve:hover { background-color: #1b5e20; }